{% extends 'store/base.html' %}
{% block content %}

    <div class="text-[#ffffff] body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <div class="flex flex-row mx-auto">
                    <img class="w-[30px] sm:w-[65px] " src="" alt="/">
                    <h2 class=" text-lg sm:text-3xl  text-[#00FF00] tracking-widest font title-font mb-1 sm:ml-5 sm:mt-4 ml-2 mt-2 ">ABOUT INVENTREE</h2>
                </div>
                <p class="lg:w-2/3 mx-auto mt-7 leading-relaxed ">We are here to help you. we provide you best qualities and best services.</p>
                <p class="mt-8 text-[#1AFF1A]">Some key points about our plateform.</p>
            </div>
            <div class="flex flex-wrap">
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-[#00FF00] font-medium title-font mb-2">Open to all</h2>
                    <p class="leading-relaxed text-base mb-4">Our plateform is 24 hour open to all. Anyone can use our plateform with simple steps. you just easily signup on our website and order your products. </p>
                </div>
                
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-[#00FF00] font-medium title-font mb-2">Discription of plateform</h2>
                    <p class="leading-relaxed text-base mb-4">We list the manufacturer's product. you can order the products of your choices in your desired quantity in batches of sizes small, medium, and large.</p>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-[#00FF00] font-medium title-font mb-2">Benifits of our plateform</h2>
                    <p class="leading-relaxed text-base mb-4">We will save the time and cost that is wasted in travelling to procure the supplies. It will help in improving the availability of products in geographically remote areas.</p>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-[#00FF00] font-medium title-font mb-2">Our Goals</h2>
                    <p class="leading-relaxed text-base mb-4">We ensure that we will provide you best services with minimum time and in a best price. We will provide you best qualities of product.</p>
                </div>
            </div>
            <a href="https://linktr.ee/fosscu" target="_blank" rel="noopener noreferrer">
                <button class="flex mx-auto mt-16 text-black bg-[#00ff00] font-poppins border-0 py-2 px-8 focus:outline-none rounded text-lg hover:shadow-md hover:shadow-white">Connect with Us 🤝</button>
            </a>
        </div>
    </div>

{% endblock content %}