{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body bgcolor ="grey">

    <div class="conatiner min-h-screen  bg-center bg-cover px-28 py-5 relative">
        <nav class="flex items-center">
            <img src="{% static 'images/logo-removebg-preview.png' %}" class="w-40 cursor-pointer">
            <ul class="flex-1 text-center">
                <li class="list-none inline-block px-5"><a href="{% url 'index' %}" class="no-underline text-black">Home</a></li>
                <li class="list-none inline-block px-5"><a href="{%url 'about' %}" class="no-underline text-black">About</a></li>
                <li class="list-none inline-block px-5"><a href="{% url 'contact' %}" class="no-underline text-black">Contact</a></li>
                <li class="list-none inline-block px-5"><a href="{% url 'login' %}" class="no-underline text-black">Login</a></li>
                <li class="list-none inline-block px-5"><a href="{% url 'register' %}" class="no-underline text-black">Signup</a></li>
            </ul>
            <ul>
                <li class="list-none inline-block px-5"><a href="{% url 'profile' %}" class="no-underline text-black">Profile</a></li>
            </ul>
            <img src="{% static 'images/cart.png' %}" class="w-8 cursor-pointer" alt="">
        </nav>
        {% block content %}
        {% endblock content%}
    </div>
    {% block body %}
    {% endblock body%}
</body>
</html>