{% extends 'store/base.html' %}
{% load static %}
{% block content %}
        <div class="text-white mt-48 max-w-xl">
            <h1 class="text-6xl font-semibold leading-normal">Daily Products  <br> delivery within <span>24 hours</span></h1>
            <p>Inventree offers a wide range of products, including fresh products, dairy-products <br><br><br><br></p>
        <div>
            <a href="#products" class="bg-yellow-300 rounded-3xl px-8 py-3 font-medium inline-block mr-4 hover:bg-transparent
             hover:border-yellow-300 hover:text-white duration-300 hover:border border border-transparent">Shop Now</a>
            <p>Currentl delivering only IN MURADNAGAR<span class="inline-block rotate-90 font-extrabold">&#10148</span></p>
            </div>
        
        
        </div>

        <img src="{% static 'images/grocery-image.png' %} " class="rounded-full w-full xl:w-1/2 xl:absolute bottom-0
                   right-20 " alt="">
    
{% endblock %}
{% block body %}
<table>
  <br><br><br><br>
{% for product in products %}

<table class="text-white mt-48 max-w-xl ">
    <article class="media content-section">
        <div class="media-body grid grid grid-flow-col">
          <div class="article-metadata ">
            <a href="{% url 'product_detail' product.name %}" name="products"><img class="rounded-circle article-img px-40" src="{{product.image.url}}" alt=""></a>
            <a class="mr-2 text-white px-40" href="{% url 'product_detail' product.name %}">{{ product.name }}</a>
          </div>
          <h2> Price : Rs.{{ product.price }}</h2>
          <h2><a class="article-title text-white" href="{% url 'product_detail' product.name %}"></a></h2>
          <p class="article-content text-white pl-20" >{{product.description}}</p>
        </div>
      </article>
    {% empty %}

    {% endfor %}
    </table>
    
</div>

{% endblock body %}