{% load static %}
{% extends 'store/base.html' %}
{% block content %}
        <div class="text-white mt-48 max-w-xl">
            <h1 class="text-6xl font-semibold leading-normal">Daily Products  <br> delivery within <span>24 hours</span></h1>
            <p>Inventory IQ offers a wide range of products, including fresh products, dairy-products <br><br><br><br></p>
        <div>
            <a href="#" class="bg-yellow-300 rounded-3xl px-8 py-3 font-medium inline-block mr-4 hover:bg-transparent
             hover:border-yellow-300 hover:text-white duration-300 hover:border border border-transparent">Order Now</a>
            <a href="#">Check delivery at your pincode<span class="inline-block rotate-90 font-extrabold">&#10148</span></a>
            </div>
        
        
        </div>

        <img src="{% static 'images/grocery-image.png' %} " class="rounded-full w-full xl:w-1/2 xl:absolute bottom-0
                   right-20 " alt="">

    
    
{% endblock %}



